/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC:wght@400&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  color: inherit; /* Ensures links inherit color from their parent */
  text-decoration: none; /* Removes underline from links */
}

* {
  box-sizing: border-box; /* Makes padding and borders part of element's total width and height */
}

img {
  max-width: 100%; /* Responsive images */
  height: auto; /* Maintain aspect ratio */
}
